.experience-container {
    margin: 0 auto;
    padding: 2rem 0;
    position: relative;
    width: 70%;
}


/* Vertical Line for Timeline */
.experience-container::before {
    content: '';
    position: absolute;
    left: 20px;
    top: 0;
    width: 3px;
    height: 100%;
    background: #efa3c5; 
}


/* Timeline Dots */
.experience-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    padding: 1.5rem;
    padding-left: 50px; /* Offset to align with timeline */
    margin-bottom: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px #90186E;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.experience-item::before {
    content: '';
    position: absolute;
    left: 10px;
    top: 20px;
    width: 14px;
    height: 14px;
    background: #efa3c5; /* Timeline point */
    border: 3px solid #90186E;
    border-radius: 50%;
    box-shadow: 0 0 4px #90186E;
}

/* Hover Effects */
.experience-item:hover {
    box-shadow: 0 6px 12px #90186E;
}

.experience-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: left;
    
}
.experience-container {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  }
  
  .experience-container.animate {
    opacity: 1;
    transform: translateY(0);
  }
  
  .experience-item {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
  }
  
  .experience-item.fade-in {
    opacity: 1;
    transform: translateY(0);
  }
  
  .experience-item.fade-out {
    opacity: 0;
    transform: translateY(30px);
  }
  
.experience-header .company{
    font-size: 1.2rem;
    color:#e0c8d3;
}

.experience-item h3 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-size: 1.8rem;
    color: #ccc; /* Darker text for readability */
}

.duration {
    text-align: right;
    font-size: 1rem;
    font-weight: bold;
    color: #777;
}

.experience-item p {
    margin: 0.25rem 0;
    font-size: 1rem;
    color: #ccc;
}

.heading {
    font-weight: bold;
    color: #ccc;
    text-align: left;
    margin-bottom: 2rem;
}

.experience-item ul {
    margin: 0.75rem 0;
    color: #ccc;
}

.experience-item ul li {
    margin-bottom: 0.5rem;
    line-height: 1.6;
}

/* View Project Link Styling */
.experience-footer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 10px;
}

.experience-item a {
    color: #efa3c5;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

.experience-item a:hover {
    color: #d87fa0;
}

/* Optional: Underline Animation */
.experience-item a::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: #d87fa0;
    transition: width 0.3s ease;
}

.experience-item a:hover::after {
    width: 100%;
}
