#root {
  width:100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

* {
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}




.read-the-docs {
  color: #888;
}
html {
  scroll-behavior: smooth;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
}
