#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


.read-the-docs {
  color: #888;
}
html {
  scroll-behavior: smooth;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: white;
  padding: 2rem;
}
/* Responsive styles for tablets */
@media (max-width: 768px) {
  #root {
    padding: 1rem; /* Reduce padding for tablets */
  }

  .section {
    font-size: 1.5rem; /* Reduce font size for tablets */
    padding: 1rem; /* Reduce padding for tablets */
  }
}

/* Responsive styles for phones */
@media (max-width: 480px) {
  #root {
    padding: 0.5rem; /* Further reduce padding for phones */
  }

  .section {
    font-size: 1.2rem; /* Further reduce font size for phones */
    padding: 0.5rem; /* Further reduce padding for phones */
  }
}