#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


.read-the-docs {
  color: #888;
}
html {
  scroll-behavior: smooth;
}

.section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: white;
  padding: 2rem;
}

#home { background-color: #f4f4f4; color: #333; }
#about { background-color: #eaeaea; color: #333; }
#projects { background-color: #ddd; color: #333; }
#experience { background-color: #ddd; color: #333; }
#contact { background-color: #ccc; color: #333; }
