:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: rgba(255, 255, 255, 0.7); /* Dark text color */
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  transition: color 0.3s ease;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  user-select: none;
  min-width: 320px;
  min-height: 100vh;
  cursor: url('cursor.png'), auto;
  overflow-x: auto; /* Prevent horizontal scrollbar (hidden*/
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}

* {
  box-sizing: inherit; /* Inherit box-sizing from body */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  padding: 10px 20px;
  border-radius: 50px;
  background: linear-gradient(to left, #90186E, #EFA3C5); /* Original gradient */
  background-size: 200% 100%; /* Double the size for the sliding effect */
  background-position: right; /* Start position */
  font-size: 1.1rem;
  color: rgba(255, 255, 255, 0.7);
  transition: transform 0.2s ease-in-out, background-position 1s ease-in-out, color 1s ease-in-out, box-shadow 0.3s ease; /* Smooth transition */
  margin-top: 10px; /* Add space between text and button */
  cursor: url('cursor.png'), pointer;
}

/* Enhanced hover effect */
button:hover {
  background-position: left; /* Move to the right on hover */
  transform: scale(1.05); /* Scale up on hover */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Add shadow on hover */
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  
}
